# Python Venv
venv/

# Ignore dist
dist/
TaGra.egg-info

# Ignore experiments results
results/

# Ignore datasets and tests
dataset/
tests/

# Ignore future app
future_applications/
*.pdf
*/__pycache__/
__pycache__/
